node_modules/
.env
backend/.env
frontend/.env
frontend/.env.local
.DS_Store
Assets/
.env.*
.vscode/
.idea/
.envrc
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.temp/
dist/
coverage/
